body{
    background-color: #b3d4e8;
}

.container{
    width: 50%;
    padding: 60px 250px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 70px;
}

.btn{
    margin: 20px 0;
}