{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <p>
                {{ form.category.label_tag }}
                {{ form.category }}
            </p>
            <p>
                {{ form.date.label_tag }}
                {{ form.date }}
            </p>
            <p>
                {{ form.cost.label_tag }}
                {{ form.cost }}
            </p>
            <button class="btn btn-primary">Create new</button>
        </form>
    </div>
{% endblock %}